body {
    background: #e9e9e9;
}
    
.gnb{
    display: flex;
    flex-flow: column nowrap;
}
.gnb_top h1 {
    order: 1;
    text-align: center;
    background: #fff;
}
.gnb_right {
    order: 2;
    background: #3399cc;
    display: flex;
    width: 100%;
    height: 46px;
    height: 3rem;
    text-align: center;
}
.gnb_right li {
    margin-left: 10px;
    margin-left: 0.62rem;
    margin-top: 7px;
    margin-top: 0.4rem
}
.gnb_right li:nth-child(3), .gnb_right li:last-child {
    display: none;
}

nav {
    background: #3399cc;
}
.gnb_nav_bar {
        display: none;
}
.gnb_nav_bar li {
    display: flex;
    background: #3399cc;
}
.active_1 {
    background: #3cbcfc;
    color: #FFE400;
}

.gnb_nav_bar li a {
    width: 100%;
    padding: 20px 0;
    padding: 1.250rem 0;
    font-size: 0.938em;
    font-size: 0.938rem;
    text-indent: 20px;
    text-indent: 1.250rem;
    font-weight: bold;
}
.gnb_nav_bar li span {
    width: 20%;
    text-indent: -9999px;
    cursor: pointer;
}
.toggle_btn {
    display: block;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    position: absolute;
    top: 107px;
    top: 6.9rem;
    right: 0px;
    right: 0rem;
    text-indent:  -9999px;
    background: url('../img/menu_toggle_btn.png') no-repeat;
}
.sec-space h1 {
    text-align: center;
    margin: 0 0 2rem; 0;
    padding-top: 2rem;
    color: 000000;
    font-weight: bold;
    font-size: 2rem;
    font-size: 2em;
}
.sec-space p {
    text-align: center;
    margin: 0 0 2rem; 0;
    padding-top: 2rem;
    color: #000000;
    font-size: 1rem;
    font-size: 1em;
}


@charset "utf-8";









/* button */
.btn-set {position:relative; margin:2.857em 0; text-align:center;}

.button {font-size:14px; text-decoration:none !important; white-space:nowrap; display:inline-block; vertical-align:baseline; position:relative; cursor:pointer; padding:11px 24px 11px; min-width:64px; background-color:#3399cc; color:#fff; border-radius:20px; margin:0 2px; text-align:center;}

.button.light {background-color:#b3d6ff; color:#fff;}



/* sec define */
.sec-space {padding:0 0; box-sizing:border-box; margin-top:3%;}
.sec.add-bor {border-top:1px solid #998d81; margin-bottom:20px;}

@media screen and (max-width:1024px) {
  .sec-space {padding:0 15px;}
  .sec.wide {padding:5% 15px;}
  .sec-space.sec-first {padding:0 15px 5%;}
  .sec-space.sec-mid {padding:5% 15px;}
  .sec-space.sec-last {padding:5% 15px 0;}
}





@charset "utf-8";


/* board view */
.brd-view {width:100%; border-top:1px solid #998d81; margin-top:-1px;}
.brd-view .head {padding:2.357em 0 1.786em; text-align:center; border-bottom:1px solid #e4e4e4;}
.brd-view .head > h1 {font-size:1.571em; margin-bottom:0.409em;}
.brd-view .head > h1 .tag {background-color:#d1d3db; border-radius:12px; font-size:0.545em; display:inline-block; vertical-align:middle; color:#fff; padding:0.5em 1em 0.417em; margin:-2px 10px 0 0;}
.brd-view .head > h1 .tag.event-ing {background-color:#f2eae2; color:#cf7217; }
.brd-view .head > span {font-size:1.143em; color:#767676;}
.brd-view .head > span em {display:inline-block;}
.brd-view .head > span em:after {content:"|"; display:inline-block; margin:0 10px; color:#d9d9d9;}
.brd-view .body {padding:4.286em 2.857em; border-bottom:1px solid #d9d9d9; font-size:1.143em;}
.brd-view .body img {max-width:100%;}
.brd-view .body .body-sec.inc-line {line-height:1.7; color:#000;}
.brd-view.extend-space .body {padding:4.7% 11.9%;}
.brd-view.extend-space .body .body-sec p {line-height:1.7;}

.brd-view .head.type02 {padding:2.000em 2.857em 1.786em; background-color:#f2eae2;}
.brd-view .head.type02:after {content:""; display:block; clear:both;}
.brd-view .head.type02 > h1 {float:left; margin-bottom:0; text-align:left;}
.brd-view .head.type02 > span {float:right; margin-top:3px;}
.brd-view .head-detail {width:100%; padding:1.571em 2.222em 1.429em; border-bottom:1px solid #d9d9d9; background-color:#fff; font-size:1.286em; box-sizing:border-box;}
.brd-view .head-detail:after {content:""; display:block; clear:both;}
.brd-view .head-detail dt {float:left; width:5.000em;}
.brd-view .head-detail dd {float:left; color:#767676;}
.brd-view .head-detail.loc-bttm {font-size:1.143em;}
.brd-view .head-detail.loc-bttm dt {width:5.938em;}

.brd-view .noti-txt {padding:30px 20px; background-color:#f6f6f6; margin-top:35px; color:#767676; line-height:1.4}
.brd-view .noti-txt .in-txt {padding-left:25px; position:relative; display:block;}
.brd-view .noti-txt .in-txt:before {content:""; position:absolute; top:0; left:0; width:18px; height:18px; background:url('/public/images/ico/ele-set.png') no-repeat -178px -100px; background-size:250px 250px;}
.ie8 .brd-view .noti-txt .in-txt:before {background-image:url('/public/images/ico/ele-set-narrow.png');}


@media screen and (max-width: 768px){
  .brd-view .head > h1 {font-size:1.214em; margin-bottom:0.412em;}
  .brd-view .head > h1 .tag {font-size:0.647em; margin-bottom:1.091em;}
  .brd-view .head > span {font-size:0.857em;}
  .brd-view .head {padding:1.429em 0;}
  .brd-view .body {padding:2.143em 0;}
  .brd-view .body .body-sec p {font-size:1em;}
  
  .brd-view .head.type02 {padding:20px 15px;}
  .brd-view .head.type02 > h1 {font-size:1.214em; margin-bottom:0.5em;}
  .brd-view .head.type02 > span {float:left; margin-top:0; clear:both; font-size:0.857em;}
  .brd-view .head-detail {font-size:0.929em; padding:1.462em 1.154em 1.308em;}
  .brd-view .head-detail dt {width:65px;}
  .brd-view .head-detail.loc-bttm {font-size:0.929em;}
  .brd-view .head-detail.loc-bttm dt {width:65px;}
  .brd-view .head-detail.loc-bttm .hide-cell {display:none;}
  
  .brd-view .noti-txt {padding:15px; margin-top:10px;}
  .brd-view .noti-txt .in-txt {padding-left:17px; font-size:11px;}
  .brd-view .noti-txt .in-txt:before {width:12px; height:12px; background-position:-196px -100px; background-size:250px 250px;}
  .brd-view.extend-space .body {font-size:1em; padding:20px 10px;}
}



/* button */
.btn-set {position:relative; margin:2.857em 0; text-align:center;}
.btn-set .right {position:absolute; top:0; right:0;}
.btn-set .left {position:absolute; top:0; left:0;}
.btn-set.wide-in-btm {margin-bottom:0;}
.button {font-size:14px; text-decoration:none !important; white-space:nowrap; display:inline-block; vertical-align:baseline; position:relative; cursor:pointer; padding:11px 24px 11px; min-width:64px; background-color:#3399cc; color:#fff; border-radius:20px; margin:0 2px; text-align:center;}

.button.light {background-color:#3399cc; color:#fff;}



@media screen and (max-width: 768px){
  .btn-set {margin:1.643em 0;}
  .btn-set .right {position:static; top:auto; right:auto; display:block; text-align:center; margin-top:5px;}
  .btn-set .left {position:static; top:auto; left:auto; display:block; text-align:center; margin-top:5px;}
  
  .button {font-size:12px; padding:10px 20px 7px; min-width:52px;}
  
  
 

  .btn-set.union-new {}
  .btn-set.union-new:after {content:""; display:block; clear:both;}
  .btn-set.union-new .left {float:left;}
  .btn-set.union-new .right {float:right;}
  .btn-set.union-new .button {margin-left:1px; margin-right:1px;}
  .btn-set.union-new .cr {clear:both; text-align:center; display:block; padding-top:10px;}
  
    
  

  .btn-cell .btn-form {width:100%;}
}

.body-sec inc-line{width:100px;overflow:hidden;word-wrap:break-word;}


footer {
    order: 5;
    display: block;
    position: absolute;
    background: #3399cc;
    color: #fff;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}
.footer_logo {
    text-align: center;
}
.footer_logo img {
    width: 50%;
}

footer {
    order: 5;
    display: block;
    position: absolute;
    background: #3399cc;
    color: #fff;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}
.footer_logo {
    text-align: center;
}
.footer_logo img {
    width: 50%;
}
.foot_l {
    width: 100%;
    line-height: 23px;
    font-size: 0.7em;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}
.foot_m {
    width: 100%;
    text-align: center;
    position:relative;
    padding-bottom: 1rem;
}
.foot2 {
    background: #fff;
    width: 100%;
    margin: auto;
    text-align: center;
}
/* PC 사이즈 */

@media all and (min-width:1024px) {
#wrap {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    }
.gnb_top {
    display: flex;
    width: 100%;
    background: #fff;
    align-items: center;
}
.gnb_top h1 {
    width:80%;
    margin-left: 10rem;
}
.gnb_right {
    background: #fff;
    width: 20%;
    padding-right: 3%;
}
.gnb_right li:nth-child(3),.gnb_right li:nth-child(4) {
      display: flex;
}
.gnb_right li:first-child, .gnb_right li:nth-child(2) {
        display: none;
    }
.toggle_btn {
        display: none;
}
nav{  
    display: flex;
    align-items: center;
    width: 100%;
}
.gnb_nav_bar {
    display: flex !important;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
}
.gnb_nav_bar li {
    display: flex;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.gnb_nav_bar li a:hover {
    color: #FFE400;
}
.gnb_nav_bar li a {
    width: auto;
    text-align: center;
}
.active_1 {
    background: #3399cc;
    color: #FFE400;
}
.contets {
    display: block;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.banner {
    width: 80%;
    margin: 1rem 10% 1rem 10%;
}
.con_1 {
    width: 80%;
    margin: 1rem 10% 1rem 10%;
}
.con_title {
    display: flex;
}
.con_title h3 {
    width: 86.5%;
    padding: 1rem 0 0 0.5rem ;
}
.con_1_box {
    width: 90%;
    text-align: center;
    padding-top: 1rem;
    margin: 0 5% 0 5%;
}
.bogi {
    margin-top: 1rem;
}
.bogi a:hover {
    background: #3399cc;
    color: #fff;
}
.con {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.box {
    width:21.5%;
    margin: 0 0 2.5rem 0;
    border: 1px solid #ddd;
    box-shadow: 0 3px 4px #bdbdbd;
}
    .box:hover {
        border: 1px solid #3399cc;
        transition: all 0.5s;
    }
.box_img {
    width: 100%;
}
.box_img img {
    width: 100%;
    }
.box_txt {
    width: 93%;
    background: #fff;
    color: #000;
    text-align: left;
    padding: 0.5rem 0 0.5rem 0.5rem;
    text-indent: 0.4em
}
.box_txt h4 {
    font-weight: bold;
    font-size: 0.65rem;
    font-size: 0.65em;
}
.box_txt p {
    padding-top: 0.2rem;
    color: #625625;
    font-size: 0.5rem;
    font-size: 0.5em;
    text-indent: 0.9em
    
}
.bogi {
    font-family: Nanum Gothic;
    border: 1px solid #3399cc;;
    float: right;
    font-weight: bold;
}
.bogi a {
    color: #3399cc;
}
footer {
    width: 100%;
    color: #fff;
    max-width: 1200px;
    height: 23rem;
}
.footer_logo {
    width: 100%;
    margin: 0;
    padding: 0;
    }
.foot_l {
    float: left;
    width: 100%;
    font-size: 0.71rem;
    font-size: 0.71em;
    text-align: center;
    margin:0;
    padding: 0;
}
.foot_m {
    width: 90%;
    margin-left:8%;
    padding: 0;
    text-align:center;
    align-content: center;
}
.foot_m a {
    opacity: 0.7;
    transform: scale(1); /* 크기*/
    transition: all 0.8s;
}
.foot_m a:hover {
    opacity: 1;
    transform: scale(1.5);
}
.foot_m a {
    margin-right: 2%;
}
.foot2 {
    float: left;
    background: #fff;
    width: 100%;
    text-align: center;
    margin: auto;
    margin: 1rem 0 0 0;
}      
}