body {
    background: #e9e9e9;
}
    
.gnb{
    display: flex;
    flex-flow: column nowrap;
}
.gnb_top h1 {
    order: 1;
    text-align: center;
    background: #fff;
}
.gnb_right {
    order: 2;
    background: #3399cc;
    display: flex;
    width: 100%;
    height: 46px;
    height: 3rem;
    text-align: center;
}
.gnb_right li {
    margin-left: 10px;
    margin-left: 0.62rem;
    margin-top: 7px;
    margin-top: 0.4rem
}
.gnb_right li:nth-child(3), .gnb_right li:last-child {
    display: none;
}

nav {
    background: #3399cc;
}
.gnb_nav_bar {
        display: none;
}
.gnb_nav_bar li {
    display: flex;
    background: #3399cc;
}
.active {
    background: #3cbcfc;
    color: #FFE400;
}

.gnb_nav_bar li a {
    width: 100%;
    padding: 20px 0;
    padding: 1.250rem 0;
    font-size: 0.938em;
    font-size: 0.938rem;
    text-indent: 20px;
    text-indent: 1.250rem;
    font-weight: bold;
}
.gnb_nav_bar li span {
    width: 20%;
    text-indent: -9999px;
    cursor: pointer;
}
.toggle_btn {
    display: block;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    position: absolute;
    top: 107px;
    top: 6.9rem;
    right: 0px;
    right: 0rem;
    text-indent:  -9999px;
    background: url('../img/menu_toggle_btn.png') no-repeat;
}
.container {
    order: 4;
    background: #fff;
    width: 100%;
    margin: 1.5rem 0 2rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.container h1 {
    margin: 0 5% 0 5%;
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-size: 1.2em;
}
.con_1, .con_2, .con_3 {
    width: 90%;
    padding: 5% 5% 0 5%;
}
.con_3 {
    padding-bottom: 1rem;
}
.con_1_img, .con_2_img, .con_3_ing {
    width: 100%;
    max-width: 100%;
}
.con_1_img {
    text-align: center;
}
.con_2_img img, .con_3_img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #BDBDBD;
}
.con_1_txt h4, .con_2_txt h4, .con_3_txt h4 {
    padding-top: 0.5rem;
    font-weight: bold;
    font-family: 우체통;
    font-size: 1.25rem;
    font-size: 1.25em;
    text-indent: 0.5rem;
}
hr {
    margin-top: 0.5rem;
}
.con_1_txt p, .con_2_txt p, .con_3_txt p {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    font-size: 0.8em;
    line-height: 1.2rem;
}
footer {
    order: 5;
    display: block;
    position: absolute;
    background: #3399cc;
    color: #fff;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}
.footer_logo {
    text-align: center;
}
.footer_logo img {
    width: 50%;
}
.foot_l {
    width: 100%;
    line-height: 23px;
    font-size: 0.7em;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}
.foot_m {
    width: 100%;
    text-align: center;
    position:relative;
    padding-bottom: 1rem;
}
.foot2 {
    background: #fff;
    width: 100%;
    margin: auto;
    text-align: center;
}
/* 태블릿 사이즈 */
@media all and (min-width:768px) {
.container {
    order: 4;
    background: #fff;
    width: 100%;
    margin: 1.5rem 0 2rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.con_1,.con_2, .con_3 {
    display: flex;
}
.con_1_img, .con_2_img,.con_3_img {
    width: 100%
}
.con_1_txt, .con_2_txt, .con_3_txt {
    width: 70%;
    padding-left: 1rem;
}
.con_1_txt h4, .con_2_txt h4, .con_3_txt h4 {
    text-align: center;
}
.con_3 {
    padding-bottom: 3rem;
}
footer {
    order: 5;
    display: block;
    position: absolute;
    background: #3399cc;
    color: #fff;
    width: 100%;
    padding: 0 1rem 0 1rem;
}
    .footer_logo img {
        width: 20%;
    }
.foot_l {
    width: 100%;
    line-height: 23px;
    font-size: 1em;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.foot_m {
    width: 100%;
    text-align: center;
    position:relative;
    margin: 0 0 0 2%;
}
.foot_m img {
    padding-right: 5%;
}
.foot2 {
    background: #fff;
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 0.5rem 0 0 0;
}  
}
/* PC 사이즈 */

@media all and (min-width:1024px) {
#wrap {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    }
.gnb_top {
    display: flex;
    width: 100%;
    background: #fff;
    align-items: center;
}
.gnb_top h1 {
    width:80%;
    margin-left: 10rem;
}
.gnb_right {
    background: #fff;
    width: 20%;
    padding-right: 3%;
}
.gnb_right li:nth-child(3),.gnb_right li:nth-child(4) {
      display: flex;
}
.gnb_right li:first-child, .gnb_right li:nth-child(2) {
        display: none;
    }
.toggle_btn {
        display: none;
}
nav{  
    display: flex;
    align-items: center;
    width: 100%;
}
.gnb_nav_bar {
    display: flex !important;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
}
.gnb_nav_bar li {
    display: flex;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.gnb_nav_bar li a:hover {
    color: #FFE400;
}
.gnb_nav_bar li a {
    width: auto;
    text-align: center;
}
.active {
    background: #3399cc;
    color: #FFE400;
}
.container h1 {
    padding-left: 5%;
}
.con_1_img,.con_3_img {
    width: 50%;
    margin-left: 5.5%;
    margin-right: 3%;    
}
.con_2_img{
    width: 44.552%;
    margin-right: 5.5%;
    margin-left: 3%
}
.con_1_txt, .con_2_txt, .con_3_txt {
    width: 40%;
    padding: 0;
}
.con_1, .con_3 {
    display: flex;
    width: 80%;
    flex-direction: row;
}
.con_2{
    display: flex;
    width: -80%;
    flex-direction: row-reverse;
    
    
}
.con_1_txt h4, .con_2_txt h4, .con_3_txt h4 {
	width:100%;
    font-size: 1.9rem;
    font-size: 1.9em;
}
 .con_1_txt p, .con_2_txt p, .con_3_txt p {
     font-size: 1rem;
     font-size: 1em;
         line-height: 1.5rem;
 }
footer {
    width: 100%;
    color: #fff;
    max-width: 1200px;
    height: 23rem;
}
.footer_logo {
    width: 100%;
    margin: 0;
    padding: 0;
    }
.foot_l {
    float: left;
    width: 100%;
    font-size: 0.71rem;
    font-size: 0.71em;
    text-align: center;
    margin:0;
    padding: 0;
}
.foot_m {
    width: 90%;
    margin-left:8%;
    padding: 0;
    text-align:center;
    align-content: center;
}
.foot_m a {
    opacity: 0.7;
    transform: scale(1); /* 크기*/
    transition: all 0.8s;
}
.foot_m a:hover {
    opacity: 1;
    transform: scale(1.5);
}
.foot_m a {
    margin-right: 2%;
}
.foot2 {
    float: left;
    background: #fff;
    width: 100%;
    text-align: center;
    margin: auto;
    margin: 1rem 0 0 0;
}      
}