#wrap{
    max-width: 1200px;
}
.head {                         background:url(../img/login/login.png);
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 6.281rem;
    text-align: center;
}
.head img {
    height: 6.27rem;
}
body {
    background: #e9e9e9;
}
.login_container {
    background: #fff;
    margin: 14% 10% 0 10%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.login_container h1 {
    text-align: center;
    margin: 0 0 2rem 0;
    padding-top: 2rem;
    color: #3399cc;
    font-weight: bold;
    font-size: 2rem;
    font-size: 2em;
}
.login {
    text-align: center;
    margin: 0 15% 0 15%;
}
.pw {
    margin-bottom: 5%;
}
.id input, .pw input {
    height: 1.5rem;
    margin-bottom: 5%;
    width: 100%;
    border: 1px solid #bdbdbd;
    text-indent: 0.5rem;
}
button {
    width: 100%;
    height: 2.5rem;
    background: #3399cc;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10%;
}
.join_btn {
    text-align: center;
    width: 100%;
    font-size: 0.7rem;
    font-size: 0.7em;
    padding-bottom: 2rem;
}
.join_btn a {
    color: #000;
    font-weight: bold;
    width: 1%;
}
footer {
    background: #3399cc;
    width: 100%;
    text-align: center;
    height: 5rem;
    margin-top: 17.2%;
}
footer p {
    padding-top: 9%;
    font-weight: bold;
    color: #fff;
    font-size: 0.9rem;
}
.foot2 {
    float: left;
    background: #fff;
    width: 100%;
    text-align: center;
    margin: auto;
}    
/* 태블릿 사이즈 */
@media all and (min-width:768px) {
.login_container {
    background: #fff;
    margin: 11.5% 10% 0 10%;
}
.login_container h1 {
    padding-top: 12%;
    font-size: 3rem;
    font-size: 3em;
}
.login {
    padding-top: 5%;
}
.id input, .pw input {
    height: 3rem;
    font-size: 1.3rem;
    font-size: 1.3em;
}
button {
    height: 4rem;
    font-size: 1.7rem;
    font-size: 1.7em;
}
.join_btn {
     font-size: 1.3rem;
     font-size: 1.3em;
     padding-bottom: 2rem;
 }
footer {
    margin-top: 11.5%;
}
footer p {
    padding-top: 3%;
    font-size: 1.2rem;
    font-size: 1.2rem;
}
}
/* PC 사이즈 */

@media all and (min-width:1024px) {
#wrap {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    }
.login_container {
    margin: 14% 10% 0 10%;
}
.id input, .pw input {
    height: 4rem;
    font-size: 1.5rem;
    font-size: 1.5em;
}
button {
    height: 4.5rem;
}
.join_btn {
     font-size: 1.7rem;
     font-size: 1.7em;
 }
footer {
    margin-top: 13.5%;
}
footer p {
    padding-top: 2.5%;
    font-size: 1.5rem;
    font-size: 1.5rem;
}
}